{% extends "main/base.html" %}
{% load static %}

  {% block content %}

  <section id="main">
    <br/>

        <div class="card text-center" style = "width:90%; left:5%; display:block" id = 'custom-0'>
          <div class="card-header">
            <h4>Custom Model</h4>
          </div>
          <div class="card-body">
            <br/>
            <!--div class = "container text-center" style = "width:50%; left:25%">
              <div class = "col">

                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0','custom-00')">
                  <ion-icon name="enter-outline" class = "iconpiclarger align-middle float-left" style = "color:black"></ion-icon>
                  Preliminary - Input Data
                  <ion-icon name="enter-outline" class = "iconpiclarger align-middle float-right" style = "color:black"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0','custom-01')">
                  <ion-icon name="exit-outline" class = "iconpiclarger align-middle float-left" style = "color:black"></ion-icon>
                  Preliminary - Output Data
                  <ion-icon name="exit-outline" class = "iconpiclarger align-middle float-right" style = "color:black"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0', 'custom-2')">
                  <ion-icon name="options" class = "iconpiclarger align-middle float-left" style = "color:#9A0001"></ion-icon>
                  Step 1 - Model Type
                  <ion-icon name="options" class = "iconpiclarger align-middle float-right" style = "color:#9A0001"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0', 'custom-3')">
                  <ion-icon name="leaf" class = "iconpiclarger align-middle float-left" style = "color:green"></ion-icon>
                  Step 2 - Supplier Data
                  <ion-icon name="leaf" class = "iconpiclarger align-middle float-right" style = "color:green"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0', 'custom-4')">
                  <ion-icon name="cog" class = "iconpiclarger align-middle float-left" style = "color:#969600"></ion-icon>
                  Step 3 - Technology Data
                  <ion-icon name="cog" class = "iconpiclarger align-middle float-right" style = "color:#969600"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0', 'custom-5')">
                  <ion-icon name="cart" class = "iconpiclarger align-middle float-left" style = "color:grey"></ion-icon>
                  Step 4 - Consumer Data
                  <ion-icon name="cart" class = "iconpiclarger align-middle float-right" style = "color:grey"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0', 'custom-6')">
                  <ion-icon name="car" class = "iconpiclarger align-middle float-left" style = "color:#2d3889"></ion-icon>
                  Step 5 - Transport Data
                  <ion-icon name="car" class = "iconpiclarger align-middle float-right" style = "color:#2d3889"></ion-icon>
                </button>
                <br/>
                <button class = "btn btn-light border btn-block" onclick="changecard('custom-0','custom-7')">
                  <ion-icon name="battery-full" class = "iconpiclarger align-middle float-left" style = "color:#e0e802"></ion-icon>
                  Step 6 - Run Model
                  <ion-icon name="battery-full" class = "iconpiclarger align-middle float-right" style = "color:#e0e802"></ion-icon>
                </button>
              </div>
            </div-->

            <div class = "container text-center" style = "width:90%; left:5%">
              <div class = "row">
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-00')">
                    <ion-icon name="enter-outline" class = "align-middle" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Preliminary - Input Data</h5>
                </div>
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-01')">
                    <ion-icon name="exit-outline" class = "align-middle" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Preliminary - Output Data</h5>
                </div>
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-2')">
                    <ion-icon name="options-outline" class = "align-middle" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Step1 - Model Type</h5>
                </div>
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-3')">
                    <ion-icon name="leaf-outline" class = "align-middle" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Step2 - Supply Data</h5>
                </div>
              </div>
              <br/>
              <div class = "row">
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-4')">
                    <ion-icon name="cog-outline" class = "align-middle float-left" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Step 3 - Technology Data</h5>
                </div>
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-5')">
                    <ion-icon name="cart-outline" class = "align-middle float-left" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Step 4 - Consumer Data</h5>
                </div>
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-6')">
                    <ion-icon name="car-outline" class = "align-middle float-left" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Step 5 - Transport Data</h5>
                </div>
                <div class = "col">
                  <button class = "btn btn-light border rounded-lg" onclick="changecard('custom-0','custom-7')">
                    <ion-icon name="battery-full" class = "align-middle float-left" style = "color:#494949"></ion-icon>
                  </button>
                  <h5>Step 6 - Run Model</h5>
                </div>
              </div>
            </div>

            <br/>
          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="window.location = '/tryit'">Tutorial Home</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="window.location = '/tryit/eg1'">Biogas from Waste</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);">Custom Model</button>
          </div>
        </div>



        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-00'>
          <div class="card-header">
            <button class = "btn btn-light border float-left " onclick="changecard('custom-00','custom-01')" style = "display:inline-block;visibility:hidden">Next</button>
            <h4 style = "display:inline-block">Preliminary - Input Data</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-00','custom-01')" style = "display:inline-block;">Next</button>
          </div>
          <div class="card-body">

            <div class = "container text-left egdiv" >


              <p class="card-text">
               ADAM is a tool that helps you build and solve supply chain management and design models.
              </p>
              <p class="card-text">
                The participants of a supply chain include consumers, suppliers, technology providers, and transportation providers.
              </p>
              <p class="card-text"> To construct a <strong>design model</strong>, one needs the following <strong>input data</strong>:</p>

              <div class = "container text-left" style = "width: 70%; left: 15%" >
                <table class = "table text-center table-hover table-sm" style = "width:100%;min-width: 200px;">
                  <tr>
                    <td><ion-icon name="leaf" class = "iconpiclarger align-middle float-left" style = "color:gold"></ion-icon></td>
                    <td><strong>Supplier Data</strong></td><td>Costs and capacities for suppliers</td>
                  <tr/>
                  <tr>
                    <td><ion-icon name="cart" class = "iconpiclarger align-middle float-left" style = "color:green"></ion-icon></td>
                    <td><strong>Consumer Data</strong></td><td>Costs and capacities for consumers</td>
                  <tr/>
                  <tr>
                    <td><ion-icon name="cog" class = "iconpiclarger align-middle float-left" style = "color:#2d3889"></ion-icon></td>
                    <td><strong>Tech Data</strong></td><td>Costs (operating and investment) and capacities for technology providers</td>
                  <tr/>
                  <tr>
                    <td><ion-icon name="car" class = "iconpiclarger align-middle float-left" style = "color:#969600"></ion-icon></td>
                    <td><strong>Transport Data</strong></td><td>Costs and capacities for transportation providers</td>
                  <tr/>

                </table>
              </div>

              <p class="card-text">
               Given input data, a <strong>design model</strong> is solved to determine locations for new technologies and transactions of products that maximize the collective profit of all participants and that satisfy a given design budget.
              </p>

            </div>

          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-00','custom-7')">Step 6</button>
          </div>
        </div>


        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-01'>
          <div class="card-header">
            <button class = "btn btn-light border float-left " onclick="changecard('custom-01','custom-00')" style = "display:inline-block;">Prev</button>
            <h4 style = "display:inline-block">Preliminary - Output Data</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-01','custom-2')" style = "display:inline-block;">Next</button>
          </div>
          <div class="card-body">

            <div class = "container text-left egdiv" >

              <p class="card-text">
               A design model provides the following <strong>output data</strong>:
              </p>

              <div class = "container text-left" style = "width: 70%; left: 15%" >

                <table class = "table text-center table-hover table-sm" style = "width:100%;min-width: 200px;">
                  <tr>
                    <td><ion-icon name="git-network" class = "iconpiclarger align-middle float-left" style = "color:#9a0001"></ion-icon></td>
                    <td><strong>Flow Data</strong></td><td>Flow supplied, consumed, and processed at different locations</td>
                  <tr/>
                  <tr>
                    <td><ion-icon name="car" class = "iconpiclarger align-middle float-left" style = "color:#969600"></ion-icon></td>
                    <td><strong>Transport Data</strong></td><td>Transport of products between locations</td>
                  <tr/>
                  <tr>
                    <td><ion-icon name="logo-usd" class = "iconpiclarger align-middle float-left" style = "color:gold"></ion-icon></td>
                    <td><strong>Value Data</strong></td><td>Value of products at different locations</td>
                  <tr/>
                  <tr>
                    <td><ion-icon name="pin-outline" class = "iconpiclarger align-middle float-left" style = "color:red"></ion-icon></td>
                    <td><strong>Design Data</strong></td><td>Optimal location for new technologies</td>
                  <tr/>

                </table>

              </div>
              <p class="card-text">
               Once you have created a model, you can save it so that this can be duplicated and loaded to change features.
              </p>

            </div>

          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-01','custom-7')">Step 6</button>
          </div>
        </div>




        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-2'>
          <div class="card-header">
            <button class = "btn btn-light border float-left" onclick="changecard('custom-2','custom-01')" style = "display:inline-block;">Prev</button>
            <h4 style = "display:inline-block">Step 1 - Model Type</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-2','custom-3')" style = "display:inline-block;">Next</button>
          </div>
          <div class="card-body">

            <div class = "container text-left egdiv">
              <p class="card-text" style = "text-align:left">
                Here we specify the type of supply chain model to be built (management or design).
              </p>
              <p class="card-text" style = "text-align:left">
                Here, we also specify the time basis (annual by default).
              </p>

              <div class = "container "style="width: 40%; left: 30%">
                <form method = "GET">

                    <div class="input-group mb-3" >
                      <div class="input-group-prepend">
                        <span class="input-group-text">Model Type</span>
                      </div>
                      <select class ='custom-select' >
                        <option selected> Design</option>
                        <option disabled> Management</option>
                      </select>
                    </div>

                    <div class="input-group mb-3" >
                      <div class="input-group-prepend">
                        <span class="input-group-text">Time Basis</span>
                      </div>
                      <select class ='custom-select' >
                        <option selected> Year</option>
                        <option disabled> Month</option>
                        <option disabled> Day</option>
                      </select>
                    </div>

                </form>
                </div>


              <p class="card-text" style = "text-align:left">
                In this example, we select a <strong>design model</strong> with an <strong>annual</strong> time basis.
              </p>
            </div>

          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-2','custom-7')">Step 6</button>
          </div>
        </div>



        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-3'>
          <div class="card-header">
            <button class = "btn btn-light border float-left" onclick="changecard('custom-3','custom-2')" style = "display:inline-block">Prev</button>
            <h4 style = "display:inline-block">Step 2 - Supplier Data</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-3','custom-4')" style = "display:inline-block">Next</button>
          </div>
          <div class="card-body">

            <div class = "container text-left egdiv">

              <p class="card-text" style = "text-align:left">
                We proceed to specify location of suppliers, products offered, supply cost of products, and maximum amounts (capacity).
              </p>
              <p class="card-text" style = "text-align:left">
                Products can be selected from an available database or can be added to the database.
              </p>

              <div class = "container text-center" style = "width: 100%;" >
                <div  class = "canvas_hold" id = "canvas_holder1" style = "height: 330px; box-shadow: 5px 5px 5px #d3d3d3;">
                  <div id = "gfx_holder1" style = "position: relative; width:100%; height: 330px">
                  </div>
                </div>
              </div>
              <br/>

              <p class="card-text" style = "text-align:left">
                In this case, we also have three suppliers that offer waste at different costs and amounts. You can drag those markers and double click to modify inputs.
              </p>

            </div>

          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-3','custom-7')">Step 6</button>
          </div>
        </div>


        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-4'>
          <div class="card-header text-center">
            <button class = "btn btn-light border float-left" onclick="changecard('custom-4','custom-3')" style = "display:inline-block">Prev</button>
            <h4 style = "display:inline-block">Step 3 - Technology Data</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-4','custom-5')" style = "display:inline-block">Next</button>
          </div>
          <div class="card-body">
            <div class = "container text-left egdiv">

              <p class="card-text" style = "text-align: left">
                Here we specify locations of technology providers and candidates, as well as technology specifications (type, costs, and maximum processing capacity).
              </p>
              <p class="card-text" style = "text-align: left">
                Each technology follows a pathway to transform  input products into other products.
              </p>
              <p class="card-text" style = "text-align: left">
                Technologies can be selected from an available database or can be added to the database.
              </p>

              <div class = "container text-center" style = "width: 100%;" >
                <div  class = "canvas_hold" id = "canvas_holder2" style = "height: 330px; box-shadow: 5px 5px 5px #d3d3d3;">
                  <div id = "gfx_holder2" style = "position: relative; width:100%; height: 330px">
                  </div>
                </div>
              </div>
              <br/>

              <img src = "{% static 'figure/tutorial/eg1_tech.png' %}" style = "display:none" id = 'techpic1' >
              <img src = "{% static 'figure/tutorial/eg1_tech2.png' %}" style = "display:none" id = 'techpic2' >
              <img src = "{% static 'figure/tutorial/eg2_tech3.png' %}" style = "display:none" id = 'techpic3' >

              <p class = "card-text" style = "text-align: left">
                In this example, we have two technology providers and one technology candidate at different locations. You can drag those markers and double click to modify inputs.
              </p>

            </div>

          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-4','custom-7')">Step 6</button>
          </div>
        </div>



        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-5'>
          <div class="card-header">
            <button class = "btn btn-light border float-left" onclick="changecard('custom-5','custom-4')" style = "display:inline-block">Prev</button>
            <h4 style = "display:inline-block">Step 4 - Consumer Data</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-5','custom-6')" style = "display:inline-block">Next</button>
          </div>
          <div class="card-body">

            <div class = "container text-left egdiv">

              <p class="card-text" style = "text-align:left">
                We specify location of consumers, type of product requested, purchase cost of products, and maximum amounts.
              </p>

              <div class = "container text-center" style = "width: 100%;" >
                <div  class = "canvas_hold" id = "canvas_holder3" style = "height: 330px; box-shadow: 5px 5px 5px #d3d3d3;">
                  <div id = "gfx_holder3" style = "position: relative; width:100%; height: 330px">
                  </div>
                </div>
              </div>
              <br/>

              <p class="card-text" style = "text-align:left">
                In this example, we have four consumers at different locations. You can drag those markers and double click to modify inputs.
              </p>

            </div>

            <br/>


            <button class = "btn btn-light border float-left" onclick="changecard('custom-5','custom-4')">Prev</button>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-5','custom-6')">Next</button>

          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-5','custom-7')">Step 6</button>
          </div>
        </div>




        <div class="card text-center" style = "width:90%; left:5%; display:none" id = 'custom-6'>
          <div class="card-header text-center">
            <button class = "btn btn-light border float-left" onclick="changecard('custom-6','custom-5')" style = "display:inline-block">Prev</button>
            <h4 style = "display:inline-block">Step 5 – Transport Data</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-6','custom-7')" style = "display:inline-block">Next</button>
          </div>
          <div class="card-body">

            <div class = "container text-left egdiv">

              <p class="card-text" style = "text-align: left">
                Here we specify data for transportation providers.
              </p>
              <p class="card-text" style = "text-align: left">
                All possible transport routes are automatically generated from supplier, consumer, and technology data provided.
              </p>

              <div class = "container text-center" style = "width: 100%;" >
                <div class = "row">
                  <div class = "col">
                    <div id = "gfx_holder4" style = "position: relative; width:100%; height: 330px; box-shadow: 5px 5px 5px #d3d3d3;">
                    </div>
                  </div>

                  <div class = "col">
                    <div id = "gfx_holder5" style = "position: relative; width:100%; height: 330px; box-shadow: 5px 5px 5px #d3d3d3;">
                    </div>
                  </div>
                </div>

              </div>
              <br/>

              <p class="card-text" style = "text-align: left">
                Here the left map shows the transportation providers for waste, and the right map is for derived products. Click on the routes to get details.
              </p>

            </div>
          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-6','custom-7')">Step 6</button>
          </div>
        </div>



        <div class="card text-center" style = "width:90%; left:5%; display:none;" id = 'custom-7'>

          <div class="card-header">
            <button class = "btn btn-light border float-left" onclick="changecard('custom-7','custom-6')" style = "display:inline-block">Prev</button>
            <h4 style = "display:inline-block">Step 6 Run Model</h4>
            <button class = "btn btn-light border float-right" onclick="changecard('custom-7','custom-6')" style = "display:inline-block;visibility:hidden">Prev</button>

          </div>
          <div class="card-body">

            <div class = "container text-left egdiv">

              <p class="card-text" style = "text-align: left">
                If all input data has been provided, the model is ready to be solved and please click the button below.
              </p>

              <div class = "container text-center" style = "width: 50%;" >

              <br/>
              <button id = "runbtn" class = "btn btn-light border btn-block disabled" tabindex="-1" role="button" aria-disabled="true" onclick = "">
                <ion-icon name="send" class = "iconpiclarger align-middle float-left" style = "black"></ion-icon>
                Run the Model
                <ion-icon name="send" class = "iconpiclarger align-middle float-right" style = "black"></ion-icon>
              </button>
              <br/>

              </div>


            {% csrf_token %}

            </div>
          </div>
          <div class="card-footer text-muted">
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-0')">Example Outline</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-00')">Input Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-01')">Output Data</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-2')">Step 1</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-3')">Step 2</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-4')">Step 3</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-5')">Step 4</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-6')">Step 5</button>
            <button class = "btn border-0 text-muted" style = "background-color:rgba(0, 0, 0, 0);" onclick="changecard('custom-7','custom-7')">Step 6</button>
          </div>
        </div>


    <br/>
    <br/>
  </section>


  <div id = "overlaycontainer" style="display: none">
    <div id = "overlay">
      <div class="text-center border rounded" style="position: relative; top: 140%; background: #F7F7F7; width: 40%; left:30%;">
        <h4>Model is Running...</h4>
        <br/>
        <div class="spinner-grow" style="width: 3rem; height: 3rem; color: #9A0001" role="status">
          <span class="sr-only">Running</span>
        </div>
        <br/>
        <br/>
        <p>Do not refresh...</p>
      </div>
    </div>
  </div>
  {% endblock content %}

{% block jscode %}
<script>
  function changecard(id1,id2){
    $("#"+id1).fadeTo(300,0, function(){
      $("#"+id1).css("display","none");
      $("#"+id2).fadeTo(300,1);

      if (id2 == 'custom-3') {
        try {initstep3()}
        catch {}
      }
      if (id2 == 'custom-4') {
        //try {initstep4()}
        //catch {}
        initstep4()
      }
      if (id2 == 'custom-5') {
        try {initstep5()}
        catch {}
      }
      if (id2 == 'custom-6') {
        //try {initstep6()}
        //catch {}
        initstep6();
      }
      if (id2 == 'custom-7') {
        try {initstep7()}
        catch {}
      }

    });
  }
</script>

<!--script src="{% static 'jsfile/draw2d-master/dist/draw2d.js' %}"></script>
<script type = "module" src="{% static 'jsfile/draw2d-master/src/Canvas.js' %}"></script>
<script src="{% static 'jsfile/draw2d-master/customize/MyConnection.js' %}"></script>
<script src="{% static 'jsfile/draw2d-master/customize/MyTransConnection.js' %}"></script>
<script src="{% static 'jsfile/tryitjsfile/custom_model.js' %}"></script-->

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script src="{% static 'jsfile/Leaflet.PolylineDecorator-master/dist/leaflet.polylineDecorator.js' %}"></script>
<link rel="stylesheet" href="{% static 'jsfile/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css' %}" />
<script src="{% static 'jsfile/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js' %}"></script>
<script src="{% static 'jsfile/tryitjsfile/eg2.js' %}"></script>

{% endblock jscode %}
</html>
