{% extends "main.html" %}
{% load static %}

  {% block content %}



  <section id="main">
    <br/>
    <div class="card text-left">
      <div class="card-header text-center">
        <h4>Introduction to ADAM</h4>
      </div>
      <div class="card-body">

        <h5>What is ADAM?</h5>

        <h5>Why do we need a tool like ADAM?</h5>

        <h5>What modules does it contain?</h5>

        <h5>What functions can it achieve?</h5>

        <h5>How to use it?</h5>
      </div>
    </div>
    <div class="text-muted text-center">
        <br/>
        <div style = "font-size: 0.6em;">Copyright &copy 2019 Board of Regents of the University of Wisconsin System </div>
    </div>

    </section>
  {% endblock content %}

{% block jscode %}

{% endblock jscode %}
</html>
