# NOTE: Pip must be updated separately from the requirements.txt with the command:
#       python -m pip install --upgrade pip
boto3
django
django-background-tasks
django-storages
django_extensions
# django_mysql
# mysql
psycopg2
pycodestyle