# NOTE: Pip must be updated separately from the requirements.txt with the command:
#       python -m pip install --upgrade pip
django
django-background-tasks
django_extensions
psycopg2
pycodestyle

# Removed for latest EPA version:
# boto3
# django_mysql
# django-storages
# mysql
