{% extends "main/base.html" %}
{% load static %}
{% load tz %}
{% block extrahead %}
{% endblock extrahead %}


{% block content %}
<section id="main">
  {% csrf_token %}
  <br/>

  <div class="card" style = "min-width:950px">

    <div class="card-header">
        <div class="row align-items-center">
          <div class = "col text-left">
            <a  class = "btn btn-light" href = '/expert/usermain/'>
              <ion-icon name="arrow-back-circle-outline" class = "iconpiclarger align-middle"></ion-icon> Dashborad
            </a>
          </div>

          <div class = "col text-center">
            <h4 class = "card-title align-vertical text-body" >Data List</h4>
          </div>
          <div class = "col text-right invisible">
            <a  class = "btn btn-light" href = '/'>
              <ion-icon name="exit" class = "iconpiclarger align-middle"></ion-icon> Dashborad
            </a>
          </div>

        </div>
    </div>

    <div class="card-body">

      <p class="card-text">
       Here you can manage your own supply, demand, technology site, and technology candidate data files.
      </p>

      {% if user.datadocument_set.all %}
      <div  class = "container" style = "width: 60%; left:20%">
        <div class="btn-group" style = "width: 100%">

          <button type="button" class = "btn btn-light border btn-block" style = "width: 33.3%" data-toggle="tooltip" data-placement="top" title="Upload new data file" onclick="uploadnew()">Upload Data</button>
          <button type="button" class="btn btn-light border" style = "width: 33.3%" data-toggle="tooltip" data-placement="top" title="Delete Selected Files" onclick="deleteselected()">Delete Selected</button>
          <button type="button" class="btn btn-light border" style = "width: 33.3%" data-toggle="tooltip" data-placement="top" title="Download Selected Files" onclick="downloadselected()">Download Selected</button>
        </div>
      </div>

      <div id = "overlaycontainer2" style="display:none;z-index: 1002">
        <div id = "overlay">
          <div class="text-center border rounded" style="position: relative; top: 40%; background: #F7F7F7; width: 40%; left:30%;">
            <h4>Uploading...</h4>
            <br/>
            <div class="spinner-grow" style="width: 3rem; height: 3rem; color: #9A0001" role="status">
              <span class="sr-only">Running</span>
            </div>
            <br/>
            <br/>
            <p>Do not refresh...</p>
          </div>
        </div>
      </div>

      <br/>

      <div  class = "row"  style = "width:100%;min-width: 200px;">
      <table class = "table text-center table-hover table-sm" style = "width:100%;min-width: 200px;">
        <thead>
        <tr>
          <th style="width: 38%">File Name</th>
          <th style="width: 25%">Creation Date</th>
          <th style="width: 18%">
              <select name="datatype" class = "form-control form-control-sm" id = "datatype" onchange = "updateDoc()" >
                  <option value = "all"> All </option>
                  <option value = "sup"> Supply Data </option>
                  <option value = "dem"> Demand Data </option>
                  <option value = "site"> Tech-Site Data </option>
                  <option value = "cand"> Tech-Cand Data </option>
              </select>
          </th>
          <th style="width: 14%">Options</th>
          <th style="width: 5%">
            <div class="form-check">
              <input id = "selectall_checkbox" class="form-check-input position-static" type="checkbox" id="node_{{doc.id}}_Checkbox" value="{{doc.id}}" onchange = "selectall()">
            </div>
          </th>
        </tr>
        </thead>
        <tbody>

        {% for doc in user.datadocument_set.all %}
         <tr class = "{{doc.datatype}}">

           <td>{{doc.shortfilename}}   </td>
           <td>{{doc.date_upload}} </td>
           <td>{{doc.datatype}} </td>
           <td>
             <ion-icon name="reader" class = "iconpiclarge renote_dialog" data-toggle="tooltip" data-placement="right" title="{{doc.notes}}" onclick = 'renote({{doc.id}},"{{doc.notes|safe}}")'></ion-icon>

             <ion-icon name="arrow-down-circle" class = "iconpiclarge" data-toggle="tooltip" data-placement="right" title="Download {{doc.shortfilename}}" onclick="window.location.href = '/media/{{doc.docfile}}'"></ion-icon>

             <ion-icon name="trash" class = "iconpiclarge delete_confirm" data-toggle="tooltip" data-placement="right" title="Delete this file" onclick = "deletefile({{doc.id}})"></ion-icon>

             <ion-icon name="create" class = "iconpiclarge rename_dialog" data-toggle="tooltip" data-placement="right" title="Rename this file" onclick = "rename({{doc.id}},'{{doc.shortfilename}}')"></ion-icon>
           </td>
           <td>
             <div class="form-check">
               <input class="form-check-input position-static" type="checkbox" id="{{doc.id}}_Checkbox" value="{{doc.id}}">
             </div>
           </td>
         </tr>
        {% endfor %}

        </tbody>
      </table>
      </div>

    {% else %}
    <div  class = "container" style = "width: 30%; left:35%">
        <button type="button" class = "btn btn-light border btn-block" data-toggle="tooltip" data-placement="top" title="Upload new data file" onclick="uploadnew()">Upload Data</button>
    </div>
    <div class="row justify-content-between">
        <div class="col-4">
          <h6>You don't have any data.</h6>
        </div>
    </div>
    {% endif %}
  </div>
  </div>


  <div style="display:none;">
  <div style="text-align: center" class = "uploadform">
    <strong>Please refer to the following format</strong>
    <br/>
    <br/>
    <table width = 100% class = "table text-center" id = "suptemplate" style = "display:">
      <thead>
      <tr>
        <th>#</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Feed ID</th>
        <th>Price</th>
        <th>Capacity</th>
      </tr>
      </thead>
      <tbody>
       <tr>
         <td>s1</td>
         <td>56.1234</td>
         <td>87.6543</td>
         <td>p1</td>
         <td>10</td>
         <td>10000</td>
       </tr>
       <tr>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
       </tr>
      </tbody>
    </table>

    <table width = 100% class = "table text-center" id = "demtemplate" style = "display:none">
      <thead>
      <tr>
        <th>#</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Prod ID</th>
        <th>Price</th>
        <th>Capacity</th>
      </tr>
      </thead>
      <tbody>
       <tr>
         <td>d1</td>
         <td>56.1234</td>
         <td>87.6543</td>
         <td>p5</td>
         <td>10</td>
         <td>10000</td>
       </tr>
       <tr>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
       </tr>
      </tbody>
    </table>

    <table width = 100% class = "table text-center" id = "sitetemplate" style = "display:none">
      <thead>
      <tr>
        <th>#</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Tech ID</th>
        <th>Capacity</th>
      </tr>
      </thead>
      <tbody>
       <tr>
         <td>ts1</td>
         <td>56.1234</td>
         <td>87.6543</td>
         <td>t1</td>
         <td>10000</td>
       </tr>
       <tr>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
       </tr>
      </tbody>
    </table>

    <table width = 100% class = "table text-center" id = "candtemplate" style = "display:none">
      <thead>
      <tr>
        <th>#</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Tech ID</th>
      </tr>
      </thead>
      <tbody>
       <tr>
         <td>tc1</td>
         <td>56.1234</td>
         <td>87.6543</td>
         <td>t1</td>
       </tr>
       <tr>
         <td>...</td>
         <td>...</td>
         <td>...</td>
         <td>...</td>
       </tr>
      </tbody>
    </table>

      <div class="card text-center" style = "background-color:#F5F5F5">
        <div class="card-body">
          <h6 class = "card-title">{{dataupload.datafile.label}}</h6>
          <div class="input-group mb-3 text-center">
          {{dataupload.datatype}}
            <div class="input-group-append" style="flex: 0 0 17.9%;">
              <label class="input-group-text" for="id_datatype">Type</label>
            </div>
          </div>
          <div class="input-group mb-3 text-left">
            <div class="custom-file">
              {{dataupload.datafile}}
                <label class="custom-file-label text-truncate" for="id_datafile" id = 'id_datafile_label'>
                  Choose file
                </label>
            </div>
          </div>

          {{dataupload.datanotes}}
        </div>

      </div>
    <br/>
    <input style="display:none;" id = 'uploadbtm' class = "btn btn-light border" type="submit" value="Upload" name="upload_file"/>

    </div>
    </div>


  <br/>
  <br/>
</section>
{% endblock content %}
{% block scripts %}

<script src="{% static 'jsfile/expertgraphedit/DataManagement.js' %}"></script>


{% endblock scripts %}
