{% extends "main/base.html" %}
{% load static %}
{% load tz %}
{% block extrahead %}

{% endblock extrahead %}

{% block content %}
<section id="main">
{% csrf_token %}
<br/>

<div class="card">

  <div class="card-header">
      <div class="row align-items-center">
        <div class="col text-left">
          <a  class="btn btn-light" href='/expert/usermain/'>
            <ion-icon name="arrow-back-circle-outline" class="iconpiclarger align-middle"></ion-icon> Dashboard
          </a>
          <a  class="btn btn-light" href='/expert/usermain/visualization'>
            <ion-icon name="map-outline" class="iconpiclarger align-middle"></ion-icon> Visualization Home
          </a>
        </div>

        <div class="col text-center">
          <h4 class="card-title align-vertical text-body" >Visualization Tool</h4>
        </div>
        <div class="col text-right invisible">
          <a  class="btn btn-light" href='/'>
            <ion-icon name="exit" class="iconpiclarger align-middle"></ion-icon> Dashboard
          </a>
          <a  class="btn btn-light" href='/expert/usermain/visualization'>
            <ion-icon name="map-outline" class="iconpiclarger align-middle"></ion-icon> Visualization Home
          </a>
        </div>

      </div>
  </div>

  <div class="card-body">


    {% if error %}
    <script>
      alertify.error("{{error}}")
    </script>
    {% endif %}

    <div style="text-align: center">
      <button class="btn btn-light border" name="add_flow" onclick="uploadflow()">Upload Data File</button>
    </div>
    <br/>

    <div style="display:none;">
    <div style="text-align: center" class="flow_upload">
      <br/>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            <h6>{{dataupload.nodefile.label}}</h6>
            <table width=100% class="table text-center">
              <thead>
              <tr>
                <th>#</th>
                <th>Latitude</th>
                <th>Longitude</th>
              </tr>
              </thead>
              <tbody>
               <tr>
                 <td>n1</td>
                 <td>56.1234</td>
                 <td>87.6543</td>
               </tr>
               <tr>
                 <td>...</td>
                 <td>...</td>
                 <td>...</td>
               </tr>
              </tbody>
            </table>

            <div class="input-group input-group-sm mb-3 text-left">
              <div class="custom-file">
                {{dataupload.nodefile}}
                  <label class="custom-file-label text-truncate" for="id_flowfile" id='id_flowfile_label'>
                    <small class='upload_file_name'>Choose file</small>
                  </label>
              </div>
            </div>

            <br/>

            <h6 >{{dataupload.flowfile.label}}</h6>
            <table width=100% class="table text-center">
              <thead>
              <tr>
                <th>From/To</th>
                <th>n1</th>
                <th>n2</th>
                <th>...</th>
              </tr>
              </thead>
              <tbody>
               <tr>
                 <td>n1</td>
                 <td>0</td>
                 <td>100</td>
                 <td>...</td>
               </tr>
               <tr>
                 <td>n2</td>
                 <td>0</td>
                 <td>0</td>
                 <td>...</td>
               </tr>
               <tr>
                 <td>...</td>
                 <td>...</td>
                 <td>...</td>
                 <td>...</td>
               </tr>
              </tbody>
            </table>

            <div class="input-group input-group-sm mb-3 text-left">
              <div class="custom-file">
                {{dataupload.flowfile}}
                  <label class="custom-file-label text-truncate" for="id_flowfile" id='id_flowfile_label'>
                    <small class='upload_file_name'>Choose file</small>
                  </label>
              </div>
            </div>

            <br/>

            <h6 >{{dataupload.selectmode.label}}</h6>
              {{dataupload.selectmode}}
      <br/>
      <br/>
      <input style="display:none;" id='uploadbtm' class="btn default" type="submit" value="Upload" name="upload_file_geo"/>
      </form>
      </div>
      </div>

    <script>
      function uploadflow(){
        var flowuploadHTML=$('.flow_upload').html();
        $('.flow_upload').html("");
        alertify.confirm(flowuploadHTML).set('onok', function(closeEvent) {
          $('#uploadbtm').click()
          $('.flow_upload').html(flowuploadHTML);
        }).set('oncancel', function(closeEvent){
          $('.flow_upload').html(flowuploadHTML);
        }).set('title', "Upload Data File").set('labels', {ok:'Upload', cancel:'Cancel'}).set('closable',false);
      }
    </script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{% static 'jsfile/expertgraphedit/VisualUpload.js' %}"></script>
    <script src="{% static 'jsfile/Leaflet.PolylineDecorator-master/dist/leaflet.polylineDecorator.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jsfile/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css' %}" />
    <script src="{% static 'jsfile/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js' %}"></script>
    <script type="text/javascript">
        $(window).on('load',function () {
          initgeomap()
          nodels=[]

          {% if nodedata %}
            nodedata={{nodedata|safe}}
            for (var i=1; i < nodedata.length; i++){
              value=newmarker(Number(nodedata[i][1]), Number(nodedata[i][2]), nodedata[i][0])
              var marker=value[0]
              var id=value[1]
              marker.addTo(mymap)
              nodels.push({marker: marker, nodename: nodedata[i][0], nodeid: id, lat: marker.getLatLng().lat, lon: marker.getLatLng().lng})
            }
          {% endif %}


          {% if origins and destinations and flows %}
            origins={{origins|safe}}
            destinations={{destinations|safe}}
            flows={{flows|safe}}
            mode={{type}}
            if (mode == 1){
            for (var i=0; i < origins.length; i++){
              var value=newpath([[origins[i].lat, origins[i].lng],[destinations[i].lat, destinations[i].lng]], flows[i])
              var path=value[0]
              path.addTo(mymap)
              var arrowHead=L.polylineDecorator(path, {
                  patterns: [
                    {offset: '60%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 4, polygon: false, pathOptions: {stroke: true}})}]
                  }).addTo(mymap);
                }
              }
            if (mode == 2){
            for (var i=0; i < origins.length; i++){
                var path=newroute([[origins[i].lat, origins[i].lng],[destinations[i].lat, destinations[i].lng]], flows[i])
                }
              }
            if (mode == 3){
            for (var i=0; i < origins.length; i++){
              var value=newhybrid([[origins[i].lat, origins[i].lng],[destinations[i].lat, destinations[i].lng]], flows[i])
              var path=value[0]
              path.addTo(mymap)
              var arrowHead=L.polylineDecorator(path, {
                  patterns: [
                    {offset: '60%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 4, polygon: false, pathOptions: {stroke: true}})}]
                  }).addTo(mymap);
                }
              }
          {% endif %}


          ChangeZoom();

      });
    </script>
    <div  class="canvas_hold" id="canvas_holder" style=" height: 470px; box-shadow: 5px 5px 5px #d3d3d3;">
      <div id="gfx_holder" style="position: relative; width:100%; height: 470px">
      </div>
    </div>
      <br/>

  </div>
  </div>
  <br/>
  <br/>
</section>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
function UpdateLabel(i){
      e=document.getElementsByClassName("custom-file-input")[i].files[0].name;
      $('.custom-file-label').eq(i).html(e);
  }
</script>
{% endblock scripts%}
