{% extends "main/base.html" %}
{% load static %}
{% load tz %}
{% block extrahead %}
{% endblock extrahead %}

{% block content %}

<section id="main">
{% csrf_token %}
<br/>

<div class="card">

  <div class="card-header">
      <div class="row align-items-center">
        <div class = "col text-left">
          <a  class = "btn btn-light" href = '/expert/usermain/'>
            <ion-icon name="arrow-back-circle-outline" class = "iconpiclarger align-middle"></ion-icon> Dashboard
          </a>
        </div>

        <div class = "col text-center">
          <h4 class = "card-title align-vertical text-body" >Visualization Tool</h4>
        </div>
        <div class = "col text-right invisible">
          <a  class = "btn btn-light" href = '/'>
            <ion-icon name="exit" class = "iconpiclarger align-middle"></ion-icon> Dashboard
          </a>
        </div>

      </div>
  </div>

  <div class="card-body">



    <div style="width:90%; margin-left: 5%">
      <div class="row text-center">

        <!--div class="col-sm-4">

          <div class="card mb-3" style = "border-width: 2; height: 180px;">
            <div class="card-header" >
                  <strong style = "color: #9A0001">Uploaded Data</strong>
            </div>

            <div class="card-body text-center overflow-auto">
              <div class = "container">
                <p class = "text-left">Visualize files you have already uploaded.</p>
              <a href = '/expert/usermain/visualization/geo' class = "btn btn-light border">Go</a>
              </div>
            </div>
          </div>
        </div-->


        <!--div class="col-sm-4">

          <div class="card mb-3" style = "border-width: 2; height: 180px;">
            <div class="card-header" >
                  <strong style = "color: #9A0001">Model Data</strong>
            </div>

            <div class="card-body text-center overflow-auto">
              <div class = "container">

                <form method = "GET">
                  {% for field in taskform2 %}
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text"">Select a Model</label>
                      </div>
                      {{ field }}
                    </div>
                  {% endfor %}
                  <input type="submit" value="Go" class = "btn btn-light border" name="task_selection2">
                </form>
                {% if error %}
                  <br/>
                  <h3> {{error}} </h3>
                {% endif %}

              </div>
            </div>
          </div>
        </div-->

        <div class="col-sm-6">

          <div class="card mb-3" style = "border-width: 2; height: 180px;">
            <div class="card-header">
                  <strong style = "color: #9A0001">Model Data and Result</strong>
            </div>

            <div class="card-body text-center overflow-auto">
              <div class = "container">
                <form method = "GET">
                  {% for field in taskform2 %}
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text"">Select a Model</label>
                      </div>
                      {{ field }}
                    </div>
                  {% endfor %}
                  <input type="submit" value="Go" class = "btn btn-light border" name="task_selection">
                </form>
                {% if error %}
                  <br/>
                  <h3> {{error}} </h3>
                {% endif %}
              </div>
            </div>

          </div>
        </div>


        <div class="col-sm-6">

          <div class="card mb-3" style = "border-width: 2; height: 180px;">
            <div class="card-header">
                  <strong style = "color: #9A0001">Uploading New Data</strong>
            </div>

            <div class="card-body text-center overflow-auto">
              <div class = "container">
                <p class = "text-left">Visualize location and flow data by uploading.</p>

                <a href = '/expert/usermain/visualization/upload' class = "btn btn-light border">Go</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
</div>
</div>
  <br/>
  <br/>
</section>
{% endblock content %}
{% block jscode %}
{% endblock jscode%}
