{% extends 'main/base.html' %}
{% block content %}
<div class="white-box">
    <div>
        <h2>Upcoming Events</h2>
        <h4>Check back often for upcoming events, presentations, training sessions, and more on the ADAM tool.</h4>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper card-horizontal-img col-2">
                                <!-- NOTE: Day of the week. -->
                                <div class="col-12">FRI</div>
                                <!-- NOTE: Month and date. -->
                                <div class="col-12">June 19</div>
                                <!-- NOTE: Year. -->
                                <div class="col-12">2020</div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <!-- NOTE: This section is the bolded title in an event card. -->
                                    Microplastics Project ORD -- Microsoft Teams Meeting
                                </h4>
                                <p class="card-text">
                                    <!-- NOTE: This section is paragraph text in an event card's body. -->
                                    Meeting to discuss potential Region 10 participation for sampling events.
                                    <button class="btn btn-md btn-success float-right m-2"
                                            onclick="window.location.href='/support/files/K-LRTD-0032360-QP-1-1 Signed.pdf'">
                                        Download the QAPP
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- NOTE: This section is used to document when this event card was last updated. -->
                            <small class="text-muted">Last updated 6/15/2020</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper card-horizontal-img col-2">
                                <!-- NOTE: Day of the week. -->
                                <div class="col-12">MON</div>
                                <!-- NOTE: Month and date. -->
                                <div class="col-12">June 15</div>
                                <!-- NOTE: Year. -->
                                <div class="col-12">2020</div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <!-- NOTE: This section is the bolded title in an event card. -->
                                    Current ORD Food Waste Research
                                </h4>
                                <p class="card-text">
                                    <!-- NOTE: This section is paragraph text in an event card's body. -->
                                    Last update 06-09-2020.
                                    <button class="btn btn-md btn-success float-right m-2"
                                            onclick="window.location.href='/support/files/Current ORD Food Waste Research - 06-09-2020.docx'">
                                        Download the document
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- NOTE: This section is used to document when this event card was last updated. -->
                            <small class="text-muted">Last updated 6/15/2020</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                    <div class="card">
                        <div class="card-horizontal">
                            <div class="img-square-wrapper card-horizontal-img col-2">
                                <!-- NOTE: Day of the week. -->
                                <div class="col-12">MON</div>
                                <!-- NOTE: Month and date. -->
                                <div class="col-12">July 20</div>
                                <!-- NOTE: Year. -->
                                <div class="col-12">2020</div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <!-- NOTE: This section is the bolded title in an event card. -->
                                    Microplastics Project ORD -- Microsoft Teams Meeting
                                </h4>
                                <p class="card-text">
                                    <!-- NOTE: This section is paragraph text in an event card's body. -->
                                    First meeting discuss progress. <mark>Meetings begin every week 0830 Hrs. MS Teams.</mark>
                                    <button class="btn btn-md btn-success float-right m-2"
                                            onclick="window.location.href='https://teams.microsoft.com/l/meetup-join/19%3ameeting_OWQzMzExNjctNDdhMy00ZTc0LWFhNTQtZGQ4ZTFkNGY4NjJl%40thread.v2/0?context=%7b%22Tid%22%3a%2288b378b3-6748-4867-acf9-76aacbeca6a7%22%2c%22Oid%22%3a%221b785807-e71d-456f-a25c-d3aa9129d28f%22%7d'">
                                        Join Meeting
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- NOTE: This section is used to document when this event card was last updated. -->
                            <small class="text-muted">Last updated 7/21/2020</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-3">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
